.profile-section-calculation {
    top: 0;
    position: sticky;
    background-color: khaki;

}

.profile {
    display: flex;
    padding: 20px;
    gap: 5px;
}

.profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.name-location {
    margin-top: -20px;
}

.location {
    margin-top: -15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.body-measurement {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.down-heading {
    margin-top: -20px;
}

.measurement-tag {
    font-weight: lighter;
}

.break-btns {
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(203, 198, 198);
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.break-btn {
    border-radius: 40%;
    margin-right: 10px;
}



.break-btn:hover {
    background-color: rgb(157, 253, 255);
    font-weight: bold;
}

.exercise-div {
    display: flex;
    color: white;
    text-align: center;
    justify-content: space-evenly;
    background-color: gray;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.break-div {
    display: flex;
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    background-color: gray;
    border: 1px solid rgb(221, 215, 215);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.activity-completed-btn {
    text-align: center;
    background-color: rgb(18, 167, 226);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 100px;
    font-weight: bolder;
    color: white;
}

.activity-completed-btn:hover {
    background-color: aqua;

}