.questions-and-answers {
    text-align: justify;
    padding: 20px;
    background-color: rgb(150, 175, 249);
    border-radius: 10px;
}

.questions-and-answers-div {
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}


/* responsive for tablet devices */
@media screen and (min-width:689px) and (max-width:992px) {
    .questions-and-answers {
        margin-left: 20px;
        margin-right: 20px;
    }
}


/* responsive for mobile devices */
@media screen and (max-width:688px) {
    .questions-and-answers {
        margin-left: 10px;
        margin-right: 10px;
    }
}